* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: darkblue;
  overflow: hidden;
}
i {
  position: absolute;
  top: -25px;
  /* color: white; */
  animation-name: snowing;
}
@keyframes snowing {
  to {
    transform: translateY(110vh);
  }
}
.fa-sun {
  top: 40px;
  right: 40px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
.fa-moon {
  top: 40px;
  right: 100px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
